-e git+git://github.com/ludwigkraatz/django-app-settings.git@8ada26279fcffbd1a860b9246a24b4dc0b2f4ac2#egg=app-settings-0.1.10
-e git+git://github.com/ludwigkraatz/django-introspective-api.git@99692830f950cd64d62bb70f358d94ae66c1b07f#egg=introspective-api-0.1.13
watchdog==0.7.1
PyYaml==3.11
django-pipeline==1.3.24
django-pipeline-compass==0.1.5
isass==0.1.14
pyScss == 1.2.0
-e git+git@github.com:gitpython-developers/GitPython.git@0e9eef45194039af6b8c22edf06cfd7cb106727a#egg=GitPython-0.3.2.RC1