-e git+git://github.com/ludwigkraatz/django-app-settings.git@9d93511ed64445e0e11c9aab50d8f040e2b659f6#egg=app-settings-0.1.1
-e git+git://github.com/ludwigkraatz/django-introspective-api.git@a54a0d8279662c43abb5cca39ea1b727caa21a89#egg=introspective-api-0.1.1
watchdog==0.7.1
PyYaml==3.11
django-pipeline==1.3.24
django-pipeline-compass==0.1.5
isass==0.1.14
